@model MGAChargerEcommerce.Models.RegisterModel
@{
	ViewBag.Title = "Forget Password";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="breadcrumbs-section plr-200 mb-80">
	<div class="breadcrumbs overlay-bg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="breadcrumbs-inner">
						<h1 class="breadcrumbs-title">Forget Password</h1>
						<ul class="breadcrumb-list">
							<li><a href="/Home/Index">Home</a></li>
							<li>Forget Password</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="page-content" class="page-wrapper">

	<!-- LOGIN SECTION START -->
	<div class="login-section mb-80">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="registered-customers">
						<style>
							.head {
								font-size: 17px !important;
								font-weight: 600;
								color: rgb(71, 72, 72);
								border-bottom: 1px solid rgb(204, 204, 204);
								padding: 7px 0px;
							}

							.form-control {
								display: inline-block;
								width: 75%;
								padding: 6px 12px;
							}

							.panel-default {
								border-color: #CECECE;
							}

							.btn-sm, .btn-group-sm > .btn {
								padding: 3px 10px;
							}

							.panel-footer {
								padding: 6px 15px;
							}

							.btn-default {
								color: #333;
								background-color: #E7E4E4;
								border-color: #CCC;
								border-radius: 0px !important;
								margin-left: 5px;
							}
						</style>
						<div id="content">
							<form action="/Home/ForgetPassword" method="post">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="form-group">
											<p class="head">Change Password</p> 
                                            <input type="text" id="txt_MobileNumber" style="width:260px" placeholder="Enter Registered Mobile Number"> &nbsp;
                                            <a href="#" class="btn btn-success" id="btn_SendOTP" onclick="SendOTP();">Send OTP</a>

                                            <input type="text" id="txt_VerifyMobileNumber" style="visibility:hidden;width:200px" placeholder="Enter The OTP">
                                            <a href="#" class="btn btn-success" id="btn_Verify" style="visibility:hidden" onclick="VerifyOTP();">Verify</a>

											<div id="changepassword" class="col-sm-offset-2 col-sm-8" style="margin-top: 20px; visibility:hidden">

												@Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "EmailID", placeholder = "Enter E-Mail Id" })
												@Html.ValidationMessageFor(model => model.Email)

                                                @*@Html.TextBoxFor(model => model.Password, new { @class = "form-control", id = "Password", onkeyup = "Removemsgdata();", placeholder = "Enter Password" })
                                                @Html.ValidationMessageFor(model => model.Password)*@

                                             
                                                @Html.PasswordFor(model => model.Password, new { @class = "form-control formtextbox", id = "Password", placeholder = "Password" })
                                                @Html.ValidationMessageFor(model => model.Password)
                                               


                                                @*@Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", id = "ConfrmPassword", onkeyup = "Removemsgdata();", placeholder = "Enter Confirm Password" })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword)*@
                                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control formtextbox", id = "ConfrmPassword", placeholder = "Confrm Password"})
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword)


												<span id="EmailError" style="color: green"><b>@TempData["SuccessMessage"]</b></span>
                                                <span id="EmailError" style="color: red"><b>@TempData["ErrorMessage"]</b></span>


												<label id="EmailValue" style="color: #007acc"></label>
											</div>
										</div>
									</div>
									<div id="btnChangePassword" class="panel-footer" style="overflow: hidden; visibility:hidden">
                                        <button id="btnCancel" class="btn btn-sm btn-default pull-right" onclick="location.href='@Url.Action("Index","Home")'" type="button">cancel</button>
										<button class="btn btn-sm btn-primary pull-right" id="btnsubmit" onclick="return ChcekEMail();" type="submit">Sumbit</button>
                                  </div>
								</div>
							</form>
						</div>



					</div>
				</div>
				<!-- new-customers -->

			</div>
		</div>
	</div>
	<!-- LOGIN SECTION END -->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
    <script>

        var SendOTP = function () {
            var mobileNumber = $("#txt_MobileNumber").val();
            $.ajax({
                url: "/Home/SendOTP",
                type: "post",
                data: { Recipient: mobileNumber },
                success: function (data) {
                    if (data == true) {

                        alert("OTP sent successfully");

                        $('#txt_MobileNumber').css('display', 'none');
                        $('#btn_SendOTP').css('display', 'none');

                        $('#txt_VerifyMobileNumber').css('visibility', 'visible');
                        $('#btn_Verify').css('visibility','visible');

                    }
                    else {
                        alert("Due to technical issue otp not sent please try after some time.");
                    }
                }


            })

        }

    var VerifyOTP = function () {
        var otp=$("#txt_VerifyMobileNumber").val();
        $.ajax({
            url: "/Home/VerifyOTP",
            data:{otp:otp},
            type: "post",
            success: function (data) {

                if (data==true) {
                    alert("Verification has done successfully.Now you can change the password.");
                    $('#txt_VerifyMobileNumber').css('display', 'none');
                    $('#btn_Verify').css('display', 'none');
                    $('#changepassword').css('visibility', 'visible');
                    $('#btnChangePassword').css('visibility', 'visible');

                }
                else {
                    alert("Entered OTP is not correct.");
                }
            }


        })

    }


    $('#btnsubmit').click(function () {
        if ($('#EmailError').html().length > 0) {
            return false;
        }
        else {
            ChcekEMail();
        }
    });
    function ChcekEMail() {
        var EmailID = $('#EmailID').val();
        if (EmailID == "") {
            $('#EmailValue').html('Please Enter Email');
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/Home/ForgetPasswordEMail",
            dataType: "json",
            async: false,
            timeout: 3000,
            success: function (msg) {
                console.log(msg);
                if (msg.length == 0) {
                    $('#EmailValue').html(msg);
                    return false;
                }
                else {
                    $('#EmailValue').html(msg);
                    $('#PasswordDiv').hide();
                    return false;
                }
            },
            failure: function (msg) {
                console.log(msg);

            },
            data: { 'EmailID': EmailID },
        });

    }
    function RedirectUrl()
    {
        window.location.href = '/ForgetPassword';
    };



</script>
